body{
    font-family: "Times New Roman","DFKai-sb";
    font-size: 20pt;
    text-align:left; 
    background-color: lightskyblue;
    line-height: 25pt;
    color: black;
    padding: 80px 200px;
}

.myPhoto{
    display: block;
    margin: auto;
}

.habit{
    float:left;
}